body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

.task-input {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#taskList {
    padding: 0;
}

#taskList li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eeeeee;
}